body {
	display: flex;
	justify-content: center;
	align-items: center;
}

.box-body {
	display: grid;
	grid-template-rows: 80px repeat(2,1fr);
	grid-template-areas:
		'mes'
		'image'
		'info';
}

.box-text {
	grid-area: mes;
}

.box-info {
	grid-area: info;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.box-image {
	grid-area: image;
}