body {
	display: flex;
	justify-content: center;
	align-items: center;
}

.box-body {
	display: grid;
	grid-template-columns: repeat(1,1fr);
	grid-template-areas:
		'mes'
		'image'
		'info';
}

.box-text {
	grid-area: mes;
}