/*medias*/
@media screen and (min-width: 1008px) and (max-width: 1920px) and (orientation: landscape) {

	.box-body {
		width: 90vw;
		height: 90vh;
		display: grid;
		grid-template-columns: repeat(2,1fr);
		grid-template-areas:
		'mes mes'
		'image info';
	}

	.header {
		font-size: 10vmin;
	}

	.info {
		font-size: 3.5vmin;
		line-height: 5vmin;
		letter-spacing: -0.040em;
		width: 65vmin;
	}

	.box-image {
		grid-area: image;
	}

	.image {
		margin-top: 40px;
	}

	.box-info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		grid-area: info;
	}
}

@media screen and (min-width: 1008px) and (max-width: 1920px) and (orientation: portrait) {

	.header {
		font-size: 10vmin;
	}

	.info {
		font-size: 3.5vmin;
		line-height: 5vmin;
		letter-spacing: -0.040em;
		width: 65vmin;
	}

	.box-image {
		grid-area: image;
	}

	.image {
		width: 100%;
	}

	.box-info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		grid-area: info;
	}
}

@media screen and (min-width: 641px) and (max-width: 1007px) {

	.header {
		font-size: 7vmin;
	}

	.info {
		font-size: 3.5vmin;
		line-height: 5vmin;	
		letter-spacing: -0.040em;
		width: 65vmin;
	}

	.box-image {
		grid-area: image;
	}

	.box-info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		grid-area: info;
	}
}

@media screen and (max-width: 640px) {

	.header {
		font-size: 8vmin;
	}

	.info {
		font-size: 3.5vmin;
		line-height: 5vmin;	
		letter-spacing: -0.040em;
		width: 65vmin;
	}

	.box-image {
		grid-area: image;
	}

	.box-info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		grid-area: info;
	}
}