/*medias*/
@media screen and (min-width: 1008px) and (max-width: 1920px) and (orientation: landscape) {

	.box-body {
		display: grid;
		grid-template-columns: repeat(2,1fr);
		grid-template-areas:
		'mes mes'
		'image info';
	}

	.header {
		font-size: 10vmin;
	}

	.image {
		width: 85%;
		margin-top: 60px;
	}

	.info {
		line-height: 40px;
	}
}

@media screen and (min-width: 1008px) and (max-width: 1920px) and (orientation: portrait) {

	.header {
		font-size: 8vmin;
	}

	.image {
		width: 80%;
		margin-top: 40px;
	}

	.info {
		line-height: 50px;
	}
}

@media screen and (min-width: 641px) and (max-width: 1007px) { 
	.info {
			line-height: 40px;
		}
}

@media screen and (max-width: 640px) {  }