:root {
	--color-header: #333333;
	--color-info: #4F4F4F;
}

* {
	margin: 0;
	padding: 0;
	font-family: "Space Mono", sans-serif;
}

body {
	min-height: 100vh;
}

/* Unmutable styles */

.box-body {
	width: 90vw;
	height: 90vh;
}

.box-text {
	font-family: "Inconsolata", sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	height: 100px;
}

.header {
	color: var(--color-header)
	font-weight: 700;;
}

.info {
	font-weight: 400;
	color: var(--color-info);
	font-size: 4vmin;
	letter-spacing: -0.040em;
	width: 65vmin;
}

.button-back {
	width: 200px;
	height: 68px;
	color: #ffffff;
	cursor: pointer;
	border: none;
	margin: 25px 0px;
	text-transform: uppercase;
	background-color: var(--color-header);
}

.header, .info, .button-back {
	margin: 18px 0px;
}